@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes progressAnimation {
  from {
    width: 0%;
  }
}
